.cover__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding: 0px 46px;
	box-sizing: border-box;
}

.cover__container:hover:before {
	content: '';
	background-color: rgba(0,0,0, 0.8);
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

@media screen and (min-width: 768px) {
	.cover__container {
		padding: 76px;
	}
}