.cover {
	display: flex;
	flex-direction: column;
	margin-bottom: 64px;
	width: 100%;
	padding: 0px;
	background-image: url(../.././images/cover-trains.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media screen and (min-width: 1024px) {
	.cover {
		margin-bottom: 92px;
	}
}

@media screen and (min-width: 1280px) {
	
.cover {
	margin-bottom: 92px;
	padding: 0;
}
}